{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

<div align="center" class="container">
{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
</div>

<div class="container">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{% bootstrap_form form %}
{% bootstrap_button "Login" button_type="submit" button_class="btn-primary" %}
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endblock %}
