{% extends 'surveys/base.html' %}
{#name of this page#}
{% block pagename %}Survey Detail{% endblock %}

{% block body %}
    <h1>New Question Page</h1>
    <h3>things sent from views.py:</h3>
    <p>question type: {{ question_type }}</p>
    <p>question text: {{ question_text }}</p>
    <p>question options: {{ question_options }}</p>


    <form action="{% url 'surveys:add_question' survey.survey_Id %}" method="POST">
        {% csrf_token %}
        {% include 'music/form_template.html' %}
        {% for question in survey.question_set.all %}
            <option value="{{ question_type }}">question_type</option>
        {% endfor %}
        <input type="submit" value="Submit"/>
{#        <input type="hidden" name="question_survey_Id" value="{{ survey.survey_Id }}">#}
    </form>

{% endblock %}