<h1> {{ survey }} </h1>

{% if error_message %}
<p><strong> {{ error_message }} </strong></p>
{% endif %}

<form action="{% url 'deleteq' survey.survey_Id %}" method="post">
  {% csrf_token %}

  {% for question in survey.question_set.all %}
  <input type="radio" id="question{{ forloop.counter }}" name="question" value="{{ question.question_Id }}">
  <label for="question{{ forloop.counter }}">
    {{ question.question_Id }}    
    </label><br>
  {% endfor %}
  <input type="submit" value="delete">
</form>
