{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}{{ survey_title }} - editing survey{% endblock %}
{% block content %}

    <script type="text/javascript">
        function conf(str, id) {
            c = window.confirm(str);
            if (c == true) {
                document.getElementById(id).submit();
            }
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

<h3 align="center">{{ survey_title }}</h3>
<br/>
<div class="container">
    {% for q in questions %}
        <br/>
        <form class="form-inline" method="POST">{% csrf_token %}
        <h4><input type="text" class="form-control mb-2 mr-sm-2" name="new_index" value="{{ q.question_num }}"></input>
        <input type="hidden" name="survey" value="{{ survey_Id }}"></input>
        <input type="hidden" name="reorder" value="{{ q.question_Id }}"></input>
        <button class="btn btn-primary mb-2 mr-sm-2" type="submit">Reorder</button></h4></form>
        {% if q.question_type == 'MC' %}
            <div class="container" style="border:1px solid #cecece; padding: 20px;">
                <form method="post" id="r{{ q.question_num }}">
                    {% csrf_token %}
                    <h5>{{ q.question_text }}</h5><br/>
                    <div class="radio"><label><input type="radio" name="radio"> {{ q.option_1 }}</label></div>
                    <div class="radio"><label><input type="radio" name="radio"> {{ q.option_2 }}</label></div>
                    {% if q.option_3 %}<div class="radio"><label><input type="radio" name="radio"> {{ q.option_3 }}</label></div>{% endif %}
                    {% if q.option_4 %}<div class="radio"><label><input type="radio" name="radio"> {{ q.option_4 }}</label></div>{% endif %}
                    {% if q.option_5 %}<div class="radio"><label><input type="radio" name="radio"> {{ q.option_5 }}</label></div>{% endif %}
                    <input type="hidden" name="remove" value="{{ q.question_Id }}"/>
                    <p class="text-right">
                    <button type="button" class="btn btn-danger" onclick="conf('Remove question? This cannot be undone.', 'r{{ q.question_num }}')">Remove</button>
                    </p>
                </form>
            </div>
        {% elif q.question_type == 'TE' %}
            <div class="container" style="border:1px solid #cecece; padding: 20px;">
                <form method="post" id="r{{ q.question_num }}">
                    {% csrf_token %}
                    <h5>{{ q.question_text }}</h5><br/>
                    <div class="form-group"><textarea class="form-control" rows="3"></textarea></div>
                    <br/>
                    <input type="hidden" name="remove" value="{{ q.question_Id }}"/>
                    <p class="text-right">
                    <button type="button" class="btn btn-danger" onclick="conf('Remove question? This cannot be undone.', 'r{{ q.question_num }}')">Remove</button>
                    </p>
                </form>
            </div>
            {% elif q.question_type == 'DD' %}
              <div class="container" style="border:1px solid #cecece; padding: 20px;">
                  <form method="post" id="r{{ q.question_num }}">
                      {% csrf_token %}
                      <h5>{{ q.question_text }}</h5><br/>
                      <select>
                        <option value= {{ q.option_1 }}> {{ q.option_1 }}</option>
                        <option value= {{ q.option_2 }}> {{ q.option_2 }}</option>
                        {% if q.option_3 %} <option value= {{ q.option_3 }}> {{ q.option_3 }}</option>{% endif %}
                        {% if q.option_4 %} <option value= {{ q.option_4 }}> {{ q.option_4 }}</option>{% endif %}
                        {% if q.option_5 %} <option value= {{ q.option_5 }}> {{ q.option_5 }}</option>{% endif %}
                      </select>
            <input type="hidden" name="remove" value="{{ q.question_Id }}"/>
                      <p class="text-right">
                      <button type="button" class="btn btn-danger" onclick="conf('Remove question? This cannot be undone.', 'r{{ q.question_num }}')">Remove</button>
                      </p>
                  </form>
              </div>
        {% elif q.question_type == 'LK'%}
        <div class="container" style="border:1px solid #cecece; padding: 20px;">
            <form method="post" id="r{{ q.question_num }}">
                {% csrf_token %}
                <h5>{{ q.question_text }}</h5><br/>
            <input type="radio" value="strong_agree">
            <label>Agree</label>

            <input type="radio" value="strong_agree">
            <label>Neutral</label>

            <input type="radio"value="disagree">
            <label>Disagree</label>

            <input type="radio"value="strong_agree">
            <label>Strongly Disagree</label>

            <input type="hidden"value="{{ q.question_Id }}"/>
                <p class="text-right">
                <button type="button" class="btn btn-danger" onclick="conf('Remove question? This cannot be undone.', 'r{{ q.question_num }}')">Remove</button>
                </p>
            </form>
        </div>
        {% else %}
            <div class="container" style="border:1px solid #cecece; padding: 20px;">
                <form method="post" id="r{{ q.question_num }}">
                    {% csrf_token %}
                    <h5>{{ q.question_text }}</h5><br/>
                    <div class="checkbox"><label><input type="checkbox"> {{ q.option_1 }}</label></div>
                    <div class="checkbox"><label><input type="checkbox"> {{ q.option_2 }}</label></div>
                    {% if q.option_3 %}<div class="checkbox"><label><input type="checkbox"> {{ q.option_3 }}</label></div>{% endif %}
                    {% if q.option_4 %}<div class="checkbox"><label><input type="checkbox"> {{ q.option_4 }}</label></div>{% endif %}
                    {% if q.option_5 %}<div class="checkbox"><label><input type="checkbox"> {{ q.option_5 }}</label></div>{% endif %}
                    <input type="hidden" name="remove" value="{{ q.question_Id }}"/>
                    <p class="text-right">
                    <button type="button" class="btn btn-danger" onclick="conf('Remove question? This cannot be undone.', 'r{{ q.question_num }}')">Remove</button>
                    </p>
                </form>
            </div>
        {% endif %}
    {% endfor %}
    <br/>
    <div class="container">
        <a href="{% url 'surveys:multiplechoice' survey_Id %}">
            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"
                    title="Add Multiple Choice Question">
              Add Multiple Choice
            </button>
{#            {% bootstrap_button "Add Multiple Choice question" button_type="link" button_class="btn-primary" %}#}
        </a>
        <a href="{% url 'surveys:textentry' survey_Id %}">
            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"
                    title="Add Text Entry Question">
                Add Text Entry
            </button>
{#            {% bootstrap_button "Add TE question" button_type="link" button_class="btn-primary" %}#}
        </a>
        <a href="{% url 'surveys:checkbox' survey_Id %}">
                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"
                    title="Add Checkbox Question">
                Add Checkbox
            </button>
{#            {% bootstrap_button "Add CB question" button_type="link" button_class="btn-primary" %}#}
        </a>
        <a href="{% url 'surveys:dropdown' survey_Id %}">
                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"
                    title="Add Dropdown Question">
                Add Dropdown
            </button>
{#            {% bootstrap_button "Add DD question" button_type="link" button_class="btn-primary" %}#}
        </a>
        <a href="{% url 'surveys:likert' survey_Id %}">
                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"
                    title="Add Likert Scale Question">
                Add Likert
            </button>
{#            {% bootstrap_button "Add LK question" button_type="link" button_class="btn-primary" %}#}
        </a>
        <br/><br/>
        <a href="{% url 'surveys:index' %}">
            {% bootstrap_button "Home" button_type="link" button_class="btn-primary" %}
        </a>
    </div>
</div>
{% endblock %}
