<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}<title>Polls Site</title>{% endblock %}
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
{% block content %}
<h1>Research Survey Tool</h1>
<p> welcome to the Research Survey Tool's survey creation page</p>

<h4>Dynamic content...</h4>
<p>there are this many users: {{num_users}}</p>
<p>user ID: {{ userID }} </p>
<p>there are this many surveys: {{num_surveys}}</p>

<h1>here is the survey creation form:</h1>

<!-- <button onclick="location.href = 'newquestion/'" type="button">Create Survey</button> -->

<form action="" method="POST">	
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit"/>
</form>

{% endblock %}

</body>
</html>
