{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Research Survey Tool{% endblock %}
{% block content %}

    <script type="text/javascript">
        function conf(str, id) {
            c = window.confirm(str);
            if (c == true) {
                document.getElementById(id).submit();
            }
        }
        function copy(text) {
            window.prompt("Survey link:", text);
        }
    </script>

    <h2 align="center">Research Survey Tool</h2>

    <h4>Your surveys:</h4>
    <div class="container">
    {% if not surveys %}
        (None)
    {% endif %}
    {% for s in surveys %}
        <div class="row">
        <div class="col-8">
            <a href="{% url 'surveys:editsurvey' s.survey_Id %}">
                <input type="hidden" name="edit" value="{{ s.survey_Id }}"/>
                <button type="button" class="list-group-item list-group-item-action">
                    {{ s.title }}
                </button>
            </a>
        </div>&nbsp&nbsp
        <div class="row">
            <form>
            <button class="btn btn-primary" type="button"
                    onclick="copy('{{ uri }}{% url 'surveys:survey-main-page' s.survey_Id %}')">Get link
            </button>&nbsp&nbsp
            </form>
            <form method="post" id="{{ s.survey_Id }}">
                {% csrf_token %}
                <input type="hidden" name="remove" value="{{ s.survey_Id }}"/>
                <button class="btn btn-danger" type="button"
                        onclick="conf('Delete survey? This cannot be undone.', '{{ s.survey_Id }}')">Delete
                </button>
            </form>&nbsp&nbsp
            <form method="post" id="{{ s.survey_Id }}">
                {% csrf_token %}
                <input type="hidden" name="results" value="{{ s.survey_Id }}"/>
                <button class="btn btn-primary" type="link"
                        href="{% url 'surveys:survey-results' s.survey_Id %}">Results
                </button>
            </form>&nbsp&nbsp
            <form method="post" id="{{ s.survey_Id }}">
                {% csrf_token %}
                <input type="hidden" name="take" value="{{ s.survey_Id }}"/>
                <button class="btn btn-primary" type="link"
                        href="{% url 'surveys:survey-results' s.survey_Id %}">Take Survey
                </button>
            </form>
        </div>
        </div>

    {% endfor %}
    </div>

    <h4>Create new survey:</h4>
    <div class="container" style="border:1px solid #cecece; padding: 20px;">
        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button "Create survey" button_type="submit" button_class="btn-primary" %}
        </form>
    </div>



{% endblock %}
