<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}<title>Polls Site</title>{% endblock %}
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
{% block content %}
<h1>Polls</h1>

<p> welcome to the <em>polls</em> site</p>

<h2>Dynamic content...</h2>

<p>there are this many users: {{num_users}}</p>
<p>there are this many surveys: {{num_surveys}}</p>

<!-- TEXTAREA -->
<p>Here is some long answer question text. Write something.</p>
<div class="form-group">
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>

<!-- CHECKBOXES -->
<p>Here is some checkbox question text. Pick some things.</p>
<div class="checkbox">
  <label><input type="checkbox" value="">Option 1</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">Option 2</label>
</div>
<div class="checkbox disabled">
  <label><input type="checkbox" value="" disabled>Option 3</label>
</div>

<!-- MULTIPLE CHOICE -->
<p>Here is some multiple choice question text. Pick a thing.</p>
<div class="radio">
  <label><input type="radio" name="optradio">Option 1</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">Option 2</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name="optradio" disabled>Option 3</label>
</div>

<!-- DROPDOWN -->
<p>Here is some dropdown question text. Pick a thing.</p>
<div class="form-group">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
</div>

{% endblock %}

</body>
</html>
