{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Multiple Choice Creation{% endblock %}
{% block content %}

<h1 align="center">Multiple Choice</h1>
<div class="container" style="border:1px solid #cecece; padding:20px;">
    <form action="" method="POST">
        {% csrf_token %}
    	{% bootstrap_form form %}
        {% bootstrap_button "Add question" button_type="submit" name="add_question" button_class="btn-primary" %}
        <input type="hidden" name="question_survey_Id" value=survey_Id>
    </form>
    <form action="" method="POST">
        {{ options.management_form }}
        {% csrf_token %}
        {% for o in options %}
            {{ o }}
        {% endfor %}
    </form>
</div>

{% endblock %}
