{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

<div class="container" align="right">
    <h3>Logged in as {{ user.username }}</h3>
    <a href="{% url 'logout' %}?next={% url 'index' %}">Logout</a>
</div>

<div class="container-fluid">
    <a href="{% url 'create' %}">
    {% bootstrap_button "New survey" button_type="link" icon="plus" button_class="btn-primary" %}
</a>
    <br /><br />
    <ul class="list-group">
        {# for each survey #}
        <button type="button" class="list-group-item list-group-item-action">
            Survey name
        </button>
    </ul>
</div>

{% endblock %}
