{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}{{ survey_title }} - taking survey{% endblock %}
{% block content %}
<h2 align="center">{{ survey_title }}</h2><br />
<!--
<p>link for multiple forms on one page: https://rock-it.pl/multiple-forms-on-one-page-in-django/</p>

<p>survey id: {{ surveyid }}</p>


survey: 	8a1993449c7143b098b47fac60e86ff4
questions:
-->
{% if allQ %}
<form method="POST" id="{{ surveyid }}">
<div class="container">

{% for q in allQ %}
<h4>{{ q.question_num }}</h4>
<div class="container" style="border:1px solid #cecece; padding: 20px;">
<!--<h2> Question </h2>
<p> {{ q }} </p>
<p> question_ID: {{ q.question_Id }}</p>
<p> question_survey_ID: {{ q.surveyid }}</p>
<br />
-->
<h4>{{ q.question_text }}</h4><br />
	{% if q in mclist %}

 <input type="radio" name="q1" value="a" id="q1a"> <label for="q1a">{{q.option_1}}</label><br/>
 <input type="radio" name="q1" value="a" id="q1a"> <label for="q1a">{{q.option_2}}</label><br/>
 <input type="radio" name="q1" value="a" id="q1a"> <label for="q1a">{{q.option_3}} </label><br/>
 <input type="radio" name="q1" value="a" id="q1a"> <label for="q1a">{{q.option_4}}</label><br/>
 <input type="radio" name="q1" value="a" id="q1a"> <label for="q1a">{{q.option_5}}</label><br/>

	{% elif q in telist %}

	<form action="" method="POST">
	{% csrf_token %}
	{{ form }}
	<div class="form-group"><textarea class="form-control" rows="3"></textarea></div>
	</form>

	{% elif q in cblist %}
<input type="checkbox" name="q1" value="a" id="q1a"> <label for="q1a">{{q.option_1}}</label><br/>
 <input type="checkbox" name="q1" value="a" id="q1a"> <label for="q1a">{{q.option_2}}</label><br/>
 <input type="checkbox" name="q1" value="a" id="q1a"> <label for="q1a">{{q.option_3}} </label><br/>
 <input type="checkbox" name="q1" value="a" id="q1a"> <label for="q1a">{{q.option_4}}</label><br/>
 <input type="checkbox" name="q1" value="a" id="q1a"> <label for="q1a">{{q.option_5}}</label><br/>

<!--
	<input type="text" name="q1" value="a" id="q1a"><label for="q1a">{{q.option_1}}</label><br/>-->
	{% endif %}
</div><br />




<!--
{% if q.question_type == 'MC' %}
<p>{{ q.question_type }}</p>
<p>{{ q.question_text }}</p>
<p> question text: {{q.question_text}} </p>


{% elif q.question_type == 'TE' %}
<p>TE Questions{{ q.question_type }}</p>
<p>{{ q.question_text }}</p>
<p> question text: {{q.question_text}} </p>


{% elif q.question_type == 'CB' %}
<p>CB questions {{ q.question_type }}</p>
<p>{{ q.question_text }}</p>
<p> question text: {{q.question_text}} </p>

{% else %}
<p></p>

{% endif %}    -->


{% endfor %}
<button class="btn btn-primary" type="submit">Submit response</button>
</div>
</form>
{% else %}
This survey is empty.
{% endif %}
<!--
    {% if survey_Id.mcquestion_set.all %}
        {% for q in survey_Id.mcquestion_set.all %}
            <p>{{ q.question_type }}</p>
            <p>{{ q.question_text }}</p>
            <p> question text: {{ q.question_text }} </p>
            {{ q.option_1 }}
            {{ q.option_2 }}
            {{ q.option_3 }}
            {{ q.option_4 }}
            {{ q.option_5 }}
        {% endfor %}
    {% endif %}

    {% if survey_Id.tequestion_set.all %}
        {% for q in survey_Id.tequestion_set.all %}
            <p>TE Questions{{ q.question_type }}</p>
            <p>{{ q.question_text }}</p>
            <p> question text: {{ q.question_text }} </p>
        {% endfor %}
    {% endif %}

    {% if survey_Id.cbquestion_set.all %}
        {% for q in survey_Id.cbquestion_set.all %}
            <p>CB questions {{ q.question_type }}</p>
            <p>{{ q.question_text }}</p>
            <p> question text: {{ q.question_text }} </p>
            {{ q.option_1 }}
            {{ q.option_2 }}
            {{ q.option_3 }}
            {{ q.option_4 }}
            {{ q.option_5 }}
        {% endfor %}
    {% endif %}

{% endblock %}
{#<p>{{ q.question_text|stringformat:"s" }}</p>#}
-->
