{% extends "base.html" %}
{% block content %}

<h1>You're taking the survey : {{ survey_Id }}</h1>
<p>link for multiple forms on one page: https://rock-it.pl/multiple-forms-on-one-page-in-django/</p>

    {% if survey_Id.mcquestion_set.all %}
        {% for q in survey_Id.mcquestion_set.all %}
            <p>{{ q.question_type }}</p>
            <p>{{ q.question_text }}</p>
            <p> question text: {{ q.question_text }} </p>
            {{ q.option_1 }}
            {{ q.option_2 }}
            {{ q.option_3 }}
            {{ q.option_4 }}
            {{ q.option_5 }}
        {% endfor %}
    {% endif %}

    {% if survey_Id.tequestion_set.all %}
        {% for q in survey_Id.tequestion_set.all %}
            <p>TE Questions{{ q.question_type }}</p>
            <p>{{ q.question_text }}</p>
            <p> question text: {{ q.question_text }} </p>
        {% endfor %}
    {% endif %}

    {% if survey_Id.cbquestion_set.all %}
        {% for q in survey_Id.cbquestion_set.all %}
            <p>CB questions {{ q.question_type }}</p>
            <p>{{ q.question_text }}</p>
            <p> question text: {{ q.question_text }} </p>
            {{ q.option_1 }}
            {{ q.option_2 }}
            {{ q.option_3 }}
            {{ q.option_4 }}
            {{ q.option_5 }}
        {% endfor %}
    {% endif %}

{% endblock %}
{#<p>{{ q.question_text|stringformat:"s" }}</p>#}